header {
  position: fixed;
  width: 100%;
  display: flex;
  padding-inline: 1rem;
  padding-block: 2rem;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      cursor: pointer;

      &:hover {
        color: #777;
      }
    }
  }
}
