.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  h3 {
    display: inline-block;
    margin-block: 1rem;
    white-space: nowrap;
  }

  span {
    flex: 1;
    height: 1rem;
    background-image: repeating-linear-gradient(
      -45deg,
      #dddddd 0px,
      #f8f8f8 2px,
      #fff 2px,
      #fff 6px
    );
    background-size: auto;
  }
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  gap: 0.725rem;

  li ul {
    position: relative;
    border-left: 2px solid #dddddd;
    padding: 0;

    li {
      display: inline-block;
      white-space: nowrap;
      position: relative;
      cursor: pointer;
      padding-left: 0.5rem;

      &:hover {
        color: #777777;
      }

      &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        left: -1.6px;
        height: 100%;
        width: 2px;
        background-color: #9a9a9a;
        z-index: 1;
      }
    }
  }
}

