.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

  h3 {
    display: inline-block;
    margin-block: 1rem;
    white-space: nowrap;
  }

  span {
    flex: 1;
    height: 1rem;
    background-image: repeating-linear-gradient(
        -45deg,
        #dddddd 0px,
        #f8f8f8 2px,
        #fff 2px,
        #fff 6px
    );
    background-size: auto;
  }
}

.core {
  &__items {
    border-radius: 2px;
    padding-block: 0.5rem;
    margin-inline-start: 0.5rem;
    padding-inline: 1rem !important;

    &:hover {
      background: #f6f1f3;
      transition: 200ms ease-in-out;

    }
  }
}

.component {
  &__items {
    margin-inline-start: 1rem;

    li {
      border-radius: 2px;
      padding-block: 0.5rem;
      margin-inline-start: 0.5rem;
      padding-inline: 1rem !important;


      &:hover {
        background: #f6f1f3;
        transition: 200ms ease-in-out;
      }
    }
  }

  &__title {
    color: grey;
    cursor: default;
  }
}


ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;


  li ul {
    position: relative;
    border-left: 2px solid #dddddd;
    padding: 0;
    gap: 0.5rem;

    li {
      display: inline-block;
      white-space: nowrap;
      position: relative;
      cursor: pointer;
      padding-left: 0.5rem;
    }
  }
}

