<ul class="drawer">
  <li routerLink="/dashboard">
    CrashCourse
  </li>
  <li routerLink="/likes">
    Cool Documentation
  </li>

  <li>
    <div class="title">
      <h3>Core Feature</h3>
      <span></span>
    </div>
    <ul>
      <li routerLink="core/components" class="core__items">Components</li>
      <li routerLink="core/data-binding" class="core__items">DataBinding</li>
      <li routerLink="core/routing" class="core__items">Routing</li>
      <li routerLink="core/services" class="core__items">Services</li>
      <li routerLink="core/https-request" class="core__items">Https Request</li>
      <li routerLink="core/directives" class="core__items">Directives</li>
      <li routerLink="core/pipes" class="core__items">Pipes</li>
    </ul>
  </li>


  <li>
    <div class="title">
      <h3>Components</h3>
      <span></span>
    </div>

    <ul>

      <li class="component__items">
        <h3 class="component__title">Actions</h3>
        <ul>
          <li routerLink="components/button">Button</li>
          <li routerLink="components/dropdown">Dropdown</li>
          <li>SplitButton</li>
          <li>FAB (Floating Action Button)</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Inputs</h3>
        <ul>
          <li>TextField</li>
          <li>Textarea</li>
          <li>Checkbox</li>
          <li>Radio Button</li>
          <li>Switch</li>
          <li>Slider</li>
          <li>Select</li>
          <li>Date Picker</li>
          <li>File Uploader</li>
          <li>Search Input</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Data Display</h3>
        <ul>
          <li>Avatar</li>
          <li>Badge</li>
          <li>Card</li>
          <li>Chip</li>
          <li>Tooltip</li>
          <li>Popover</li>
          <li>Progress Bar</li>
          <li>Table</li>
          <li>List</li>
          <li>Accordion</li>
          <li>Carousel</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Navigation</h3>
        <ul>
          <li>Navbar</li>
          <li>Sidebar</li>
          <li>Breadcrumb</li>
          <li>Tabs</li>
          <li>Pagination</li>
          <li>Stepper</li>
          <li>Drawer</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Feedback</h3>
        <ul>
          <li>Alert</li>
          <li>Snackbar</li>
          <li>Toast</li>
          <li>Dialog</li>
          <li>Loading Spinner</li>
          <li>Skeleton</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Layout</h3>
        <ul>
          <li>Grid</li>
          <li>Container</li>
          <li>Stack / Flex</li>
          <li>Divider</li>
          <li>Spacer</li>
          <li>Drawer Layout</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Typography</h3>
        <ul>
          <li>Heading (H1–H6)</li>
          <li>Paragraph</li>
          <li>Blockquote</li>
          <li>Code</li>
          <li>Text Link</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Utilities</h3>
        <ul>
          <li>Icons</li>
          <li>Colors</li>
          <li>Spacing</li>
          <li>Elevation (Shadow)</li>
          <li>Border Radius</li>
          <li>Transitions</li>
          <li>Dark Mode Switch</li>
        </ul>
      </li>

      <li class="component__items">
        <h3 class="component__title">Mockup</h3>
        <ul>
          <li>Desktop View</li>
          <li>Tablet View</li>
          <li>Mobile View</li>
          <li>Wireframe</li>
          <li>Prototype</li>
          <li>Static Mockup</li>
          <li>Interactive Mockup</li>
          <li>Mockup Templates</li>
          <li>App Screens</li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
