section {
  display: flex;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  padding-inline-end: 0.5rem;
  border-inline-end: 1px solid #dddddd;
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 8px;
  z-index: 2;

  .blur {
    width: 100%;
    height: 20%;
    position: sticky;
    bottom: 0;
    background: linear-gradient(to top, white, transparent);
    z-index: 1;
  }
}

main {
  margin-left: 20%;
  width: 80%;
}
