$primary: #3b82f6;
$secondary: #6b7280;
$accent: #9333ea;
$info: #0ea5e9;
$success: #10b981;
$warning: #f59e0b;
$error: #ef4444;

.show {
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-block: 1rem;
  padding-block: 5rem;
  background-image: repeating-linear-gradient(
      -45deg,
      #f4f4f4 0px,
      #f8f8f8 2px,
      #fff 2px,
      #fff 6px
  );
  background-size: 200%;
  border-radius: 4px;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.tab-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: rgb(#ccc, 0.2);
  }
}

.tab-buttons button.active {
  background: rgb(#ccc, 0.3);
  font-weight: bold;
}

.hidden {
  display: none;
}


.btn {
  border-radius: 4px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  border: 0.2px solid #e5e5e5;
  background: #f6f1f3;

  &:hover {
    cursor: pointer;
    background: #dddddd;
  }
}


//Filled Button
.btn--filled-primary {
  background-color: $primary;
  color: white;
  border: none;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.btn--filled-secondary {
  background-color: $secondary;
  color: white;
  border: none;

  &:hover {
    background-color: darken($secondary, 10%);
  }
}

.btn--filled-accent {
  background-color: $accent;
  color: white;
  border: none;

  &:hover {
    background-color: darken($accent, 10%);
  }
}

.btn--filled-info {
  background-color: $info;
  color: white;
  border: none;

  &:hover {
    background-color: darken($info, 10%);
  }
}

.btn--filled-success {
  background-color: $success;
  color: white;
  border: none;

  &:hover {
    background-color: darken($success, 10%);
  }
}

.btn--filled-warning {
  background-color: $warning;
  color: white;
  border: none;

  &:hover {
    background-color: darken($warning, 10%);
  }
}

.btn--filled-error {
  background-color: $error;
  color: white;
  border: none;

  &:hover {
    background-color: darken($error, 10%);
  }
}


//Soft Button
.btn--soft-primary {
  background-color: rgba($primary, 0.1);
  color: $primary;
  border: 1px solid $primary;

  &:hover {
    background-color: rgba($primary, 0.2);
  }
}

.btn--soft-secondary {
  background-color: rgba($secondary, 0.1);
  color: $secondary;
  border: 1px solid $secondary;

  &:hover {
    background-color: rgba($secondary, 0.2);
  }
}

.btn--soft-accent {
  background-color: rgba($accent, 0.1);
  color: $accent;
  border: 1px solid $accent;

  &:hover {
    background-color: rgba($accent, 0.2);
  }
}

.btn--soft-info {
  background-color: rgba($info, 0.1);
  color: $info;
  border: 1px solid $info;

  &:hover {
    background-color: rgba($info, 0.2);
  }
}

.btn--soft-success {
  background-color: rgba($success, 0.1);
  color: $success;
  border: 1px solid $success;

  &:hover {
    background-color: rgba($success, 0.2);
  }
}

.btn--soft-warning {
  background-color: rgba($warning, 0.1);
  color: $warning;
  border: 1px solid $warning;

  &:hover {
    background-color: rgba($warning, 0.2);
  }
}

.btn--soft-error {
  background-color: rgba($error, 0.1);
  color: $error;
  border: 1px solid $error;

  &:hover {
    background-color: rgba($error, 0.2);
  }
}


//Outline Button
.btn--outline-primary {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;

  &:hover {
    background-color: rgba($primary, 0.1);
  }
}

.btn--outline-secondary {
  background-color: transparent;
  border: 1px solid $secondary;
  color: $secondary;

  &:hover {
    background-color: rgba($secondary, 0.1);
  }
}

.btn--outline-accent {
  background-color: transparent;
  border: 1px solid $accent;
  color: $accent;

  &:hover {
    background-color: rgba($accent, 0.1);
  }
}

.btn--outline-info {
  background-color: transparent;
  border: 1px solid $info;
  color: $info;

  &:hover {
    background-color: rgba($info, 0.1);
  }
}

.btn--outline-success {
  background-color: transparent;
  border: 1px solid $success;
  color: $success;

  &:hover {
    background-color: rgba($success, 0.1);
  }
}

.btn--outline-warning {
  background-color: transparent;
  border: 1px solid $warning;
  color: $warning;

  &:hover {
    background-color: rgba($warning, 0.1);
  }
}

.btn--outline-error {
  background-color: transparent;
  border: 1px solid $error;
  color: $error;

  &:hover {
    background-color: rgba($error, 0.1);
  }
}


// Dashed Button
.btn--dashed-primary {
  background-color: transparent;
  border: 1px dashed $primary;
  color: $primary;

  &:hover {
    background-color: rgba($primary, 0.1);
  }
}

.btn--dashed-secondary {
  background-color: transparent;
  border: 1px dashed $secondary;
  color: $secondary;

  &:hover {
    background-color: rgba($secondary, 0.1);
  }
}

.btn--dashed-accent {
  background-color: transparent;
  border: 1px dashed $accent;
  color: $accent;

  &:hover {
    background-color: rgba($accent, 0.1);
  }
}

.btn--dashed-info {
  background-color: transparent;
  border: 1px dashed $info;
  color: $info;

  &:hover {
    background-color: rgba($info, 0.1);
  }
}

.btn--dashed-success {
  background-color: transparent;
  border: 1px dashed $success;
  color: $success;

  &:hover {
    background-color: rgba($success, 0.1);
  }
}

.btn--dashed-warning {
  background-color: transparent;
  border: 1px dashed $warning;
  color: $warning;

  &:hover {
    background-color: rgba($warning, 0.1);
  }
}

.btn--dashed-error {
  background-color: transparent;
  border: 1px dashed $error;
  color: $error;

  &:hover {
    background-color: rgba($error, 0.1);
  }
}
