/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  outline: none;
}

.table-container {
  max-height: 400px;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-spacing: 1rem;
}

thead th {
  text-align: start;
}

.wrapper {
  background-color: rgba(16, 185, 129, 0.1);
  border: 1px solid #10b981;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 12px;

  code {
    color: #10b981;
  }
}


pre {
  background-image: repeating-linear-gradient(
      -45deg,
      #f4f4f4 0px,
      #f8f8f8 2px,
      #fff 2px,
      #fff 6px
  );
  background-size: 200%;
  border-radius: 4px;
  padding-block: 1rem;
  padding-inline: 2rem;
}

code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95rem;
  color: #333;
  display: contents;
  white-space: pre-wrap;
}
